@import "bootstrap/bootstrap.scss";
@import "base.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

.list-group--card{
    li{
        padding: 0;
        border:0;
        background: transparent;
    }
}

// Card
.card{
    line-height: 1;
    border-radius: 0.5rem;
    background: $gray;
    font-size: 0.8rem;
    flex: 1 1 0;
    min-height: 461px;
    .time{
        font-size: 1.15rem;
        font-weight: 700;
    }
    p{
     margin-bottom: 0.5rem;
     svg{
         margin-bottom: 5px;
     }
    }
    h5{
        font-size: 1.15rem;
    }
}

//*-- Search Engine *///--
.search-engine-form{
    background: $gray;
    .form-control{
        border: 0;
        background: $gray;
            &::placeholder{
                color:rgba($black,0.45);
            }
    }
}

.bg-gray{
    background: rgba($black,0.15);
}

.flex-100{
    flex: 0 0 100%
}

.dropdown{
    @include media-breakpoint-down(md) { 
        width: 100%;
     }
}

.btn{
    color:rgba($white,0.85);
    @include media-breakpoint-down(md) { 
        .dropdown &{
            width: 100%;
        }
     }

    &:hover{
        color:$white;
    }
    &-blue{
        background:$blue;
        &:hover{
            background: $blue-hover;
        }
    }

    &-greenwater{
       background: $greenwater;
       &:hover{
        background: $greenwater-hover; 
       }
    }

    &-tangerine{
        background: $tangerine;
        &:hover{
            background: $tangerine-hover; 
           }
    }
}

.displayListitems{
          display: grid; 
          grid-template-columns: 1fr 1fr 1fr 1fr; 
          grid-template-rows: 1fr 1fr 1fr 1fr; 
          gap: 0.25em 0.25em 0.25em 0.25em; 
          grid-template-areas: 
            ". . . ."
            ". . . ."
            ". . . ."
            ". . . ." ;  

            a{
              line-height: 1.25;
            }
          

     &.top-list-ingredients{
      grid-template-columns: 1fr 1fr 1fr ; 
      grid-template-rows: 1fr 1fr 1fr ; 
      gap: 0.25em 0.25em 0.25em ; 
      grid-template-areas: 
        ". . . "
        ". . . "
        ". . . "
        ". . . " ; 
        width: 36rem;  
     }       
}

.dropdown-item{
 
}

.dropdown-menu{

    .dropdown-item::first-letter{
      text-transform: uppercase;
      font-size: 1em;
      &:focus{
        background-color:transparent;
      }
    }
    
    .ingredients &{
        background: #3282F7;
        top: 53px;
        border: 0px;
        .dropdown-item{
          color: #fff;
          overflow: hidden;
          width: 170px;
          text-overflow: ellipsis;

          &:hover{
            background-color: #2474eb;
          }
         
        }
    }

    .appareil &{
      background: #68D9A4;
      top: 53px;
      border: 0px;
      .dropdown-item{
        color: #fff;
        &:hover{
          background-color: #56d197;
        }
       
      }
  }

  .ustensils &{
      background: #ED6454;
      top: 53px;
      border: 0px;
      .dropdown-item{
        color: #fff;
        &:hover{
          background-color: #e25242;
        }
  }}
} 

.dropdown-item:focus{
  background-color:transparent;
}

.list-group--card li{
  list-style: none;
  padding-bottom: 6px;

}

.form-button{
  &.blue{
    background: #3282F7;
  }
  &.green{
    background:  #68D9A4;
  }
  &.tangerine{
    background:  #ED6454;
  }
  width: 12rem;
  display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    position: relative;

    &.clicked{
      width: 36rem;
    }
}

.appareil,
.ustensils,
.ingredients{
  position: relative;
  .imgDrop{
    position: absolute;
    right: 15px;
    top: 25px;

    &.ingredient,
    &.appareil,
    &.ustensils{
      &.clicked{
        transform: rotate(180deg);
      }
    }
   
  }
}

.form-button::placeholder{
    color: rgba($white,0.75);
}

.form-button:focus{
    color: #fff;
    border-color: #80aff5;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(0 94 235 / 25%);
}

.selected-items{
    .btn{
      padding-right: 25px;
     // background-image: url(/img/exit-blc.png);
      background-image: url('https://laurent972.github.io/laurentrega_7_10112021.github.io/img/exit-blc.png');
      background-size: 20px;
      background-position: right center;
      background-repeat: no-repeat;
    }
}

.no-result{
  width: 90px!important;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .form-button.clicked{
    width: 22rem;
  }

  .appareil .dropdown-menu,
  .ustensils .dropdown-menu,
  .ingredients .dropdown-menu{
    width: 22rem;
  }
}